<div class="container">
  <div class="filters">
    <a routerLink="/catalog/heads" routerLinkActive="active" class="button" >Heads</a>
    <a routerLink="/catalog/arms" routerLinkActive="active" class="button" >Arms</a>
    <a routerLink="/catalog/torsos" routerLinkActive="active" class="button" >Torsos</a>
    <a routerLink="/catalog/bases" routerLinkActive="active" class="button" >Bases</a>
    <a [routerLink]="['/catalog', '']" routerLinkActive="active" class="button" >All</a>
  </div>

  <ul class="products">
    <li class="product-item" *ngFor="let product of getFilteredProducts()">
      <bot-product-detail
        [product]="product"
        (buy)="addToCart(product)"
      ></bot-product-detail>
    </li>
  </ul>
</div>
